@import "../variables";
.m-modal {
  .m-mask {
  	position: fixed;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	height: 100%;
    // opacity: .8;
    z-index: 9999;
  	background-color: rgba(49, 54, 64, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    .modal-container {
        max-width: $alert-width;
        min-width: $alert-min-width;
        background-color: $alert-bg-color;
        padding: 30px;
        .modal-title {
            text-align: left;
            padding-bottom: 22px;
            font-size: $alert-font-s-size;
            color: $alert-font-color;
            border-bottom: 1px solid $alert-border-color; /*px*/
        }
        .modal-body {
            padding: 0;
            margin-top: 30px;
            li {
                list-style-type: none;
            }
            .body-list {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                padding: 10px;
                .list-label {
                    width: 25%;
                    text-align: right;
                    margin-right: 30px;
                    color: #666;
                }
                .form-radio {
                    width: 75%;
                    display: flex;
                    .radio-body {
                        margin: 0 5px;
                        .radio-label {
                            margin-left: 5px;
                        }
                    }

                }
            }
        }
        .modal-button {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-top: 27px;
            .button-content {
                margin: 0;
            }
            .border {
                width: 1px; /*px*/
                background-color: $alert-border-color;
            }
            .comfirm-view {
                margin-right:20px;
            }
        }
    }
  }

  }
