.sidebar{
  width: 210px;
  background: #485365;
  height: 100%;
  overflow-y: auto;
}

.sidebar-child{
  padding-top: 5px;
  padding-bottom: 5px;
  background: #3E4B61;
}

.sidebar-item-1{
  text-align: center;
  color:#AAB3BE;
  font-size:16px;
  height: 52px;
  line-height: 52px;
  border-bottom: 1px solid #444C50;
  padding-left: 5px;
}
.sidebar-item-2{
  text-align: center;
  height: 46px;
  line-height: 46px;
  font-size:14px;
  color:#777E8B;
  border-bottom: none;
}
.sidebar-item-selected.sidebar-item-1{
  border-left: 5px solid #2084F6;
  color:#FFFFFF;
  padding-left: 0;
  background: #3A465A;
}


.sidebar-item-2.sidebar-item-selected{
  color:#FFFFFF;
}
