html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
 div, h5, h6, p, ul, li{
   margin: 0px;
    padding: 0px;
 }

 input,button,select,textarea{ outline:none;}
textarea{resize:none;    border: 1px solid #e6e6e6; padding: 10px;font-size: 12px;}

#app {
    height: 100%;
    .title {
        font-size: 25px;
        text-align: center;
        transform: scale(0.8);
    }
}
