.rank-container{
	background-color: #f6f6f8;
	padding: 20px;
	height: 100%;
	overflow-y: auto;
	.container-title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;
		align-items: center;
		.title-right {
			display: flex;
			justify-content: flex-end;
			font-size: 14px;
			flex-wrap:wrap;
			.right-company {
				display: flex;
				margin-right: 20px;
				align-items: center;
				height:40px;
				.right-company-label{
					text-align: right;
					width: 80px;
				}
				input{
					width: 135px;
					border: 1px solid #E6E6E6;
					height: 32px;
					padding: 0 20px;
					outline: none;
					font-size: 14px;
					box-sizing: border-box;
					border-radius: 2px;
					background: #fff;
				}
			}
		}
	}
	.container-bottom {
		display: flex;
		justify-content: space-between;
		.form {
			display: flex;
		}
		.commission-form {
			display: flex;
			width: 25%;
		}
	}
}
.add-container{
   background-color: #f6f6f8;
   padding: 20px;
   height: 100%;
   overflow-y: auto;
   .container-title {
	   display: flex;
	   justify-content: space-between;
	   margin-bottom: 16px;
   }
   .form-body {
	   .form {
		   display: flex;
		   align-items: center;
		   width: 60%;
		   font-size: 12px;
		   margin: 15px 10px;
		   height: 30px;
		   .form-label {
			   width: 25%;
			   text-align: right;
		   }
		   .form-value {
			   width: 75%;
			   text-align: left;
		   }
		   .form-message {
			   margin-left: 20px;
			   color: #c6c6c6;
		   }
	   }
	   .form-button {
		   display: flex;
		   width: 50%;
		   margin-top: 40px;
	   }
	   .form-tips {
		   color: #c6c6c6;
		   font-size: 12px;
		   margin: 40px 0 0 25px;
	   }
   }
}
