//颜色，字号进行抽取

//命名风格：
//通用颜色按照 $用途-颜色的方式进行命名，如 $main-dark，$font-gray-dark

/****************** font-size ******************/
$font-size-xxs:     12px;  /* px */
$font-size-xs:     14px;   /* px */
$font-size-s:     16px;   /* px */
$font-size-m:     18px;   /* px */
$font-size-l:     20px;   /* px */
$font-size-xl:    22px;  /* px */
$font-size-xxl:   24px;  /* px */
/****************** font-size ******************/



/****************** button ******************/
$btn-width: 152px;
$btn-bg-color: #2085F8 !default;
$btn-disabled-bg-color: #D1D5DB !default;

$btn-font-color: #fff !default;
$btn-transparent-font-color: #FE0000 !default;

$btn-radius: 7px !default;

$btn-font-size-l: $font-size-xl !default;
$btn-font-size-m: $font-size-xl !default;
$btn-font-size-s: $font-size-s !default;

$btn-height-l: 17px !default;
$btn-height-m: 80px !default;
$btn-height-s: 55px !default;
$btn-height-s-line: 49px !default;
/****************** button ******************/



/****************** input ******************/
$input-bg-color: #fff !default;

$input-height: 40px;

$input-shadow: #FFFFFF !default;
$input-cursor-color: #E6E6E6 !default;
$input-cursor-width: 3px !default;
$input-cursor-height: 70px !default;

$input-placeholder-color: #e6e6e6 !default;
$input-radius: 2px !default;

$input-font-size: $font-size-xs !default;
$input-black-font-size-l: $font-size-xxl !default;
$input-black-font-size-s: $font-size-xxs !default;
/****************** input ******************/



/****************** dropdown ******************/
$drop-bg-color: #fff !default;
$drop-border-color: #E0EAF2 !default;

$drop-menu-bg-color: #fff !default;

$drop-arrow-border-color: #4a4a4a !default;
$drop-menu-color: #efefef !default;
$drop-option-color: #151515 !default;
$drop-color: #e6e6e6 !default;

$drop-height: 40px !default;
$drop-line-height: 40px !default;

$drop-radius: 4px !default;

$dropdown-placeholder-width: 40% !default;
/****************** dropdown ******************/



/****************** modal ******************/
$m-bg-color: #ffffff !default;

$m-radius: 4px !default;
$m-width: 440px !default;
$m-height: 680px !default;

$m-head-height: 40px !default;
$m-head-line-height: 62px !default;
$m-desc-icon-color: #666 !default;
$m-desc-size: $font-size-xs !default;

$m-link-size: $font-size-xs !default;
$m-link-color: #2085F8 !default;
$m-link-height: 66px !default;

/****************** modal ******************/



/****************** captcha ******************/
$cap-margin-left: 27px !default;
$cap-width: 164px !default;
$cap-height: 80px !default;
/****************** captcha ******************/



/****************** toast ******************/
$toast-opacity: 0.3 !default;

$toast-bg-color: #2C3139 !default;

$toast-dialog-bg-color: #16161A  !default;
$toast-dialog-font-size: $font-size-l !default;

$toast-loading-width: 3rem !default;
$toast-loading-height: 3rem !default;

$toast-loading-img-width: 1.5rem !default;
$toast-loading-img-height: 1.5rem !default;
/****************** toast ******************/



/****************** ceil ******************/
$ceil-color-1: #2B3244 !default;
$ceil-color-2: #666 !default;
$ceil-color-3: #A1ACBB !default;
$ceil-color-4: #C0C7D4 !default;
$ceil-color-5: #FFFFFF !default;
$ceil-color-6: #B5B5B5 !default;
$ceil-color-7: #333 !default;
$ceil-color-8: #666 !default;

$ceil-bg-color: #FFFFFF !default;
$ceil-dark-bg-color: #2F3549 !default;

$ceil-label-width: 40% !default;
$ceil-value-width: 60% !default;

/****************** ceil ******************/


/****************** modalAlert ******************/
$alert-width: 798px !default;
$alert-min-width: 500px !default;
$alert-height: 223px !default;
$alert-background-opacity: rgba(47, 53, 73, .8) !default;
$alert-font-size: 16px;
$alert-font-s-size: 15px;

$alert-bg-color: #FFFFFF !default;
$alert-font-color: #666 !default;
$alert-border-color: #E4EAEF !default;

$alert-botton-color: #666 !default;
/****************** modalAlert ******************/


/******************* Crumbs ********************/
$crumbs-font-color:#666666 !default;

/******************* Crumbs *********************/
