.app-body {
	height: 90%;
	.app-header {
		height: 65px;
		box-shadow: 5px 2px 4px 0 #F0F0F0;
		display: flex;
		.app-header-left{
			width:210px;
			background: #222222;
			img{
				margin-left:18px;
				margin-top: -6px;
				padding-right: 15px;
			}
		}
		.app-header-right{
			width: 100%;
			display: flex;
			justify-content:space-between;
			align-items: center;
			background: #FFFFFF;
			.app-title{
				color:#333333;
				margin-left: 21px;
				font-size:18px;
			}
			.welcome{
				display: flex;
				color:#7F7F7F;
				margin-right: 43px;
				font-size:14px;
				.logout {
					color: #2085F8;
					margin-left: 20px;
					cursor: pointer;
				}
				span{

				}
			}
		}
	}
	.app-container{
		display: flex;
		height: 100%;
	}
	.app-sidebar{

	}
	.app-page{
		width: 100%;
		overflow-y: auto;
		min-width: 814px;
	}


}
