@import "../variables";
.button-content{
  position:relative;
  margin: 0 auto;
  overflow: hidden;
  @mixin btn-disabled {
    cursor: not-allowed;
    pointer-events: none;
    background:0;
    background-color: $btn-disabled-bg-color;
  }
  @mixin btn-active {
    background-color: $btn-bg-color;
    outline:none;
  }
  .btn {
    display: inline-block;
    color: $btn-font-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: $btn-radius;
  }
  .large {
    width: $btn-width;
    padding: 7px 47px;
    font-size: $font-size-xs;
    border-radius: 100px;
  }
  .middle {
    width: 100%;
    padding: 7px 47px;
    font-size: $font-size-xs;
  }
  .small {
    height: $btn-height-s;
    line-height: $btn-height-s-line;
    font-size: $btn-font-size-s;
    margin-bottom:1px;/* px */
  }
  .full{
    border: 1px solid transparent; /* px */
    background-color: $btn-bg-color;
    &:active{
      @include btn-active;
    }
    &:focus{
      @include btn-active;
    }
    &:disabled{
      @include btn-disabled;
    }
  }
  .transparent{
    color: $btn-transparent-font-color !important;
    background:0;
    background-color: transparent;
    border: 1px solid $btn-bg-color !important; /* px */
    &:active{
      background-color: transparent;
    }
    &:focus{
      background-color: transparent;
    }
    &:disabled{
      @include btn-disabled;
      color: $btn-font-color;
      border: none;
    }
  }

}
