@import "../variables";
.alert-container {
    height:100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1001;
    background-color: $alert-background-opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    .alert {
        max-width: $alert-width;
        min-width: $alert-min-width;
        background-color: $alert-bg-color;
        padding: 30px;
        .alert-title {
            text-align: left;
            padding-bottom:: 30px;
            font-size: $alert-font-size;
            color: $alert-font-color;
            font-weight: 600;
            border-bottom: 1px solid $alert-border-color; /*px*/
        }
        .alert-message {
            color: $alert-font-color;
            padding: 25px 28px;
            text-align: left;
        }
        .messageWrap{
            text-align: center;
        }
        .alert-button {
            color: $alert-botton-color;
            text-align: right;
            .comfirm-button {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .button-content {
                    margin: 0;
                }
                .border {
                    width: 1px; /*px*/
                    background-color: $alert-border-color;
                }
                .comfirm-view {
                    margin-right:20px;
                }
            }
            .alert-view {
                padding: 27px 20px;
                text-align: center;
            }
        }
    }
}
