.table-container {
	font-size: 12px;
	border: 1px solid #E4EAEF;
	background: #fff;
	width: 100%;
	min-width: 786px;
	margin: 0 auto;
	.container-header {
		display: flex;
		color: #6E737A;
		background-color:#EFEFEF;
		margin-right:-1px;
		.flex {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #000;
		}
		.header-item {
			padding: 15px 5px;
			border-right: 1px solid #E4EAEF;
		}
		.yiwu {
			display: flex;
			flex-direction: column;
			align-items:center;
			.yiwu-item {
				display: flex;
				flex-direction: row;
				width: 100%;
				justify-content: space-around;
				span {
					width: 16.6%;
					text-align: center;
				}
			}
		}

	}
	.container-list {
		border-top: 1px solid #E4EAEF;
		display: flex;
		color: #666;
		margin-right:-1px;
		.list-item {
			overflow: hidden;
			display: flex;
		    text-overflow: ellipsis;
			line-height: 12px;
			padding: 10px 5px;
			justify-content: center;
			align-items: center;
			min-height: 25px;
			border-right: 1px solid #E4EAEF;
			flex-wrap: wrap;
			.opt-list {
				display: inline-block;
				margin: 3px 15px;
				color: #1273E1;
				cursor: pointer;
			}
		}
		.yiwu-item {
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-around;
			span {
				width: 16.6%;
				text-align: center;
			}
		}
		.yiwu-opt {
			span {
				display: inline-block;
				margin: 0 10px;
			}
			cursor: pointer;
			color: #2085F8;
		}
		.list-opt {
			// justify-content: left !important;
		}
	}
	.table-empty {
		text-align: center;
		padding: 20px;
		color: #666;
	}
}
.pager-container {
	display: flex;
	font-size: 12px;
	justify-content: center;
	padding: 20px;
	.upstairs {
		width: 54px;
	}
	li{
		list-style-type: none;
		color: #6E737A;
		background: #FFFFFF;
		border: 1px solid #E0EAF2;
		border-radius: 4px;
		width: 20px;
		text-align: center;
		margin: 0 3px;
	}
	.active {
		color: #FFFFFF;
		background: #469BFA;
		border: 1px solid #1B77DD;
	}
}
